.header
{
    background-color: #ce0505;
    height: 80px;

}

.logo-filter {
    color: #eb2929;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
.login-filter
{
    color: #ffffff;
    font-family: Poppins;
    font-size: 16px;
}
.create-account-filter
{
    color: #ffffff;
    font-family: Poppins;
    font-size: 16px;
    border: solid 2px #ffffff;
    border-radius: 5px;
}
.logo-filter:hover {
    color: #eb2929;
}
.login-filter:hover{
    color: #222;
}

.page-header
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    color: #192f60; 
}
.filter-section 
{
    padding: 1.5rem 1.5rem 0.5rem 0.5rem;
    box-shadow: 0 3px 6px 0 rgd(231 24 24 / 74%);
    background-color: #ffffff;

}

.visibleFilter
{
    visibility: hidden;
}

.format
{
    color: #222;
}

.title{
    font-family: Popppins;
    font-size: 18px;
    font-weight: 600;
}
.subtitle
{
    width: 200px;
    border-radius: 5px;
    border: solid 1px #8c96ab;
}
.option
{
    line-height: 1.7;
    font-family: Poppins;
    font-size: 14px;
    color: #8c96ab;

}

.items
{
    padding: 1rem;
    box-shadow: 0 3px 6px 0 rgd(231 24 24 / 74%);
    background-color: #ffffff;
    margin-bottom: 1rem;

}

.items-top
{
    border-bottom: solid 2px #dedfe5;
    padding-bottom: 1rem;

}


.images {
    display: inline-block;
    width: 110px;
    height: 110px;
    object-fit: none;
    border-radius: 10px;
    margin: 5px 10px 10px 5px;
}

.item-desc {
    display: inline-block;
    vertical-align: top;
    width:16rem;

}

.restaurant-name {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #192f60;
}

.address-line1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    color: #192f60;
}

.address-line2 {
    font-family: Poppins;
    font-size: 16px;
    color: #636f88;
    line-height: 1.5;
}

.items-bot-left {
    display: inline-block;
    
    margin: 20px 0 0 10px;
    font-family: Poppins;
    font-size: 16px;
    line-height: 2.0;
    color: #636f88;
}

.items-bot-right {
    display: inline-block;
    font-family: Poppins;
    font-size: 16px;
    line-height: 2.0;
    color: #192f60;
}

.pagination-custom {
    margin-top: 1.2rem;
}

.page-num {
    padding: 0 1rem;
    font-family: Poppins;
    font-size: 1.2rem;    
}

.page-col {
    color: rgba(53, 48, 48, 0.719);
}

@media only screen and (max-width: 576px) { 
    .visibleFilter {
        visibility: visible;
    }

    .page-header {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: Poppins;
        font-size: 22px;
        font-weight: 600;
        color: #192f60;
    }

    .items {
        
        padding: 1rem;
        box-shadow: 0 3px 6px 0 rgb(231 24 24 / 74%);
        background-color: #ffffff;
        margin-top: 1rem;
    }

    .images {
        display: inline-block;
        width: 70px;
        height: 70px;
        object-fit: none;
        border-radius: 5px;
        
    }

    .item-desc {
        display: inline-block;
        vertical-align: top;
        width: 16rem;
        
    }

    .restaurant-name {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        color: #192f60;
    }

    .address-line1 {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        color: #192f60;
    }

    .address-line2 {
        font-family: Poppins;
        font-size: 14px;
        color: #636f88;             
    }

    .items-bot-left {
        display: inline-block;
        margin: 20px 0 0 10px;
        font-family: Poppins;
        font-size: 14px;
        line-height: 2.0;
        color: #636f88;
    }

    .items-bot-right {
        display: inline-block;
        font-family: Poppins;
        font-size: 14px;
        line-height: 2.0;
        color: #192f60;
    }
}

@media only screen and (min-width:576px){
    #filterCollapse {
        display: inline-block;
    }

    .page-header {
        font-size: 28px;
    }
}

@media only screen and (min-width:792px){
    #filterCollapse {
        display: inline-block;
    }

    .page-header {
        font-size: 32px;
    }
}