.logo {
    position: absolute;
    top: 10%;
    left: 45%;
    height: 80px;
    width: 80px;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 50%;
    color: #eb2929;
    text-align: center;
}

.pageHeader {
    position: absolute;
    top: 27%;
    left: 27%;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
}

.searchBox {
    position: absolute;
    top: 40%;
    left: 27.2%;
    font-family: Poppins;
    color: #636f88;
}

.locSearch {
    display: inline-block;
    font-family: Poppins;
    font-size: 14px;
    color: #636f88;
    border-radius: 5px;
    background-color: #ffffff;
    width: 200px;
}

.restSearch {
    display: inline-block;
    font-family: Poppins;
    font-size: 14px;
    color: #636f88;
    border-radius: 5px;
    background-color: #ffffff;
    width: 340px;
    margin-left: 10px;
}

.login-section {
    position: absolute;
    top: 7%;
    right: 12%;
    color: #ffffff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}



.create-account {
    display: inline-block;
    border: solid 2px white;
    margin-left: 10px;
}

.heading {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    color: #192f60;
    margin: 15px 0 10px 0;
}

.subHeading {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    color: #8c96ab;
    margin: 10px 0 10px 0;
}

.block {
    margin: 10px 0 15px 20px;
    background-color:#ffffff;
    box-shadow: 0 3px 6px 0 rgba(22, 70, 226, 0.2);
    width: fit-content;
}

.block:hover{
    cursor: pointer;
}

.image {
    display: inline-block;
    width: 140px;
    height: 140px;
}

.content {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 100px;
    
}

.content-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: #192f60;
    margin: 20px 20px 5px 10px;
}

.content-content {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #8c96ab;
    margin: 5px 20px 10px 10px;
}


@media only screen and (max-width: 576px) {
.login {
    display: none;
}

.create-account {
    display: none;
}

.logo {
    position: absolute;
    top: 10%;
    left: 45%;
    height: 60px;
    width: 60px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 50%;
    color: #eb2929;
    text-align: center;
}

.pageHeader {
    position: absolute;
    top: 25%;
    left: 9%;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.searchBox {
    position: absolute;
    top: 35%;
    left: 25%;
    font-family: Poppins;
    color: #636f88;
}

.locSearch {
    display: inline-block;
    font-family: Poppins;
    font-size: 14px;
    color: #636f88;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 1rem;
}

.locSearch button {
    width: 240px;
}

.restSearch {
    display: inline-block;
    font-family: Poppins;
    font-size: 14px;
    color: #636f88;
    border-radius: 5px;
    background-color: #ffffff;
    width: 240px;
}
}


@media only screen and (min-width: 576px) and (max-width: 768px) {
.login {
    display: none
}

.create-account {
    display: none;
    
}

.logo {
    position: absolute;
    top: 10%;
    left: 45%;
    height: 60px;
    width: 60px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 50%;
    color: #eb2929;
    text-align: center;
}

.pageHeader {
    position: absolute;
    top: 25%;
    left: 12%;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.searchBox {
    position: absolute;
    top: 40%;
    left: 12%;
    font-family: Poppins;
    color: #636f88;
}

.locSearch {
    display: inline-block;
    font-family: Poppins;
    font-size: 14px;
    color: #636f88;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 1rem;
}

.locSearch button {
    width: 240px;
}

.restSearch {
    display: inline-block;
    font-family: Poppins;
    font-size: 14px;
    color: #636f88;
    border-radius: 5px;
    background-color: #ffffff;
    width: 250px;
}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
.login {
    display: none;
}

.create-account {
    display: none; 
}

.logo {
    position: absolute;
    top: 10%;
    left: 45%;
    height: 60px;
    width: 60px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 50%;
    color: #eb2929;
    text-align: center;
}

.pageHeader {
    position: absolute;
    top: 25%;
    left: 19%;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
}

.searchBox {
    position: absolute;
    top: 40%;
    left: 21%;
    font-family: Poppins;
    color: #636f88;
}

.locSearch {
    display: inline-block;
    font-family: Poppins;
    font-size: 14px;
    color: #636f88;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 1rem;
}

.locSearch button {
    width: 240px;
}

.restSearch {
    display: inline-block;
    font-family: Poppins;
    font-size: 14px;
    color: #636f88;
    border-radius: 5px;
    background-color: #ffffff;
    width: 300px;
}
}
